# data structure
## four types 
###  1-tuple
###  2-list
###  3-dictionaries
###  4-set

# tuple
- ordered elements 
- closed in ()  braces
- immutable
- diff kinda data can be stored

In [12]:
# for eg
tup1 = ("sheryy",2, True, 23.4,"sheryy")
tup1

('sheryy', 2, True, 23.4, 'sheryy')

In [6]:
len(tup1)

4

In [13]:
# using count function
element = "sheryy"
tup1.count(element)

2

In [19]:
tup2=(20,455,23,7,85,50,37,61)
tup2

(20, 455, 23, 7, 85, 50, 37, 61)

In [20]:
type(tup2)

tuple

In [26]:
# concatenate two tuples
tup3 = tup1 + tup2
tup3

('sheryy', 2, True, 23.4, 'sheryy', 20, 455, 23, 7, 85, 50, 37, 61)

In [27]:
# indexing
tup2[2]

23

In [28]:
tup2[0:4]

(20, 455, 23, 7)

---

# list
- ordered elements
- closed in [] braces
- mutable
- diff kinda data can be stored

In [33]:
list1 = [2,"yessss",2.55,True]
list1

[2, 'yessss', 2.55, True]

In [34]:
list2 = ["codanics","goal",10,True]
list2

['codanics', 'goal', 10, True]

In [35]:
type(list1)

list

In [37]:
# concatencate two lists
list1 + list2

[2, 'yessss', 2.55, True, 'codanics', 'goal', 10, True]

In [38]:
# replication any list
list1*3

[2, 'yessss', 2.55, True, 2, 'yessss', 2.55, True, 2, 'yessss', 2.55, True]

In [42]:
# adding any element by using apend function
list1.append("addeddd")
list1

[2, 'yessss', 2.55, True, 'addeddd', 'addeddd', 'addeddd']

In [48]:
# removing any element from list using remove function
list1.remove("addeddd")
list1

[2, 'yessss', 2.55, True, 'addeddd']

In [56]:
list1.insert(True,"added")

In [58]:
list1

[2, 'added', 'yessss', 2.55]

In [59]:
list3 = [20, 455, 23, 7, 85, 50, 37, 61]
list3

[20, 455, 23, 7, 85, 50, 37, 61]

In [60]:
max(list3)

455

In [61]:
min(list3)

7

In [64]:
len(list3)

8

In [65]:
list3.append(800)
list3

[20, 455, 23, 7, 85, 50, 37, 61, 800]

In [69]:
# sorting
list3.sort()
list3

[7, 20, 23, 37, 50, 61, 85, 455, 800]

In [70]:
list1 + list2 + list3

[2,
 'added',
 'yessss',
 2.55,
 'codanics',
 'goal',
 10,
 True,
 7,
 20,
 23,
 37,
 50,
 61,
 85,
 455,
 800]

---

# dictionaries
- unordered data
- closed in curly bracses {}
- mutable
- it have keys and their values connected with :

In [73]:
d1 = {"samosa":50,"pakora":70,"rolls":20,"tikki":40,}
d1

{'samosa': 50, 'pakora': 70, 'rolls': 20, 'tikki': 40}

In [72]:
type(d1)

dict

In [87]:
# adding an new element
d1["besan paratha"]=100
d1

{'samosa': 50, 'pakora': 70, 'rolls': 20, 'tikki': 40, 'besan paratha': 100}

In [89]:
# extract all keys
d1.keys()

dict_keys(['samosa', 'pakora', 'rolls', 'tikki', 'besan paratha'])

In [91]:
d1.values()

dict_values([50, 70, 20, 40, 100])

In [92]:
d2 = {"dates":200,"jalebi":100,"sawaiyaan":200,"sharbat":350}
d2

{'dates': 200, 'jalebi': 100, 'sawaiyaan': 200, 'sharbat': 350}

In [94]:
#concatinate two dictionaries
d1.update(d2)
d1

{'samosa': 50,
 'pakora': 70,
 'rolls': 20,
 'tikki': 40,
 'besan paratha': 100,
 'dates': 200,
 'jalebi': 100,
 'sawaiyaan': 200,
 'sharbat': 350}

---

# sets
- unordered and unidexed
- closed in {} braces
- no duplications allowed

In [97]:
s1 = {2,'shery',44.55,True}
s1

{2, 44.55, True, 'shery'}

In [103]:
type(s1)

set

In [104]:
s2 = {3,'coolguy',False,2.45}
s2

{2.45, 3, False, 'coolguy'}

In [108]:
s1.add(555)
s1

{2, 44.55, 555, True, 'shery'}

In [109]:
s1.update(s2)
s1

{2, 2.45, 3, 44.55, 555, False, True, 'coolguy', 'shery'}