In [ ]:
# import the libraries
import  pandas as pd
import numpy as np
s = pd.Series([1,3,5,7,9,11])
s

In [ ]:
# creating random data frame
date = pd.date_range("20230722",periods=15)
date
df = pd.DataFrame(np.random.randn(15,5),index=date,columns=list("ABCDE"))
df

In [ ]:
# creating specifically data frame 
df1 = pd.DataFrame(
    {
        "A":1.0,
        "B":pd.Timestamp("20230722"),
        "C":pd.Series(1,index=list(range(10)),dtype="float32"),
        "D":np.array([3]*10,dtype="int32"),
        "E":pd.Categorical(["baby","bacha","boy","men","baby","bacha","boy","men","mai","ur mai"]),
        "F":"Male",
    })
df1
df1.dtypes
df1

In [ ]:
# viewing data only top 3 columns in table
df1.head(3)

In [ ]:
# checking their indexes
df1.index

In [ ]:
#converting to numpy array's 
df1.to_numpy()

In [ ]:
# describing the data in statistically form
df1.describe()

In [ ]:
# transpose
df1.T

In [ ]:
# ---> sorting via index in ascending
# df1.sort_index(axis=0,ascending=True)
# ---> sorting via index in descending
df1.sort_index(axis=0,ascending=False)

In [ ]:
# sorting via values in ascending 
df1.sort_values(by="E",ascending=True)

In [ ]:
# selection through indexing
df1[0:5]

In [ ]:
# accessing the data through specific date
df.loc[date[4]]

In [ ]:
#slicing
df.loc[:,["A","B"]]

In [ ]:
# accessing the data through specific date and coloumn
df.loc["20230722":"20230730",["A","B"]]

In [ ]:
# getting specifically value on specific coloumn
df.loc[date[1:5],"A"]

In [ ]:
# using boolean operators
df[df["A"]>0]

In [ ]:
# adding new column in data and getting mean of single single row
df["mean"] = (df["A"] + df["B"] + df["C"] + df["D"] + df["E"])/5
df